In [98]:
import pandas as pd
import numpy as np

#READ data frame 
df_input = pd.read_csv("adult.input")
df_test = pd.read_csv("adult.test")

#add the column names
df_input.columns = ['age','type_employer','fnlwgt','education','education_num','marital','occupation',
             'relationship','race','sex','capital_gain','capital_loss','hr_per_week','country',
             'income']
df_test.columns = ['age','type_employer','fnlwgt','education','education_num','marital','occupation',
             'relationship','race','sex','capital_gain','capital_loss','hr_per_week','country',
             'income']

#add missing first row, due to column name change
first_row_input = {'age' : '24','type_employer' : 'Private','fnlwgt' : '176189','education' : 'HS-grad',
       'education_num' : '9','marital' : 'Married-civ-spouse','occupation' : 'Machine-op-inspct',
             'relationship' : 'Husband','race' : 'White','sex' : 'Male','capital_gain' : '0',
       'capital_loss' : '0','hr_per_week' : '40','country' : 'United-States',
             'income' : '<=50K'}

df_input = df_input.append(first_row_input,ignore_index = True)

In [100]:
first_row_test = {'age' : '43','type_employer' : 'Self-emp-not-inc','fnlwgt' : '292175','education' : 'Masters',
       'education_num' : '14','marital' : 'Divorced','occupation' : 'Exec-managerial',
             'relationship' : 'Unmarried','race' : 'White','sex' : 'Female','capital_gain' : '0',
       'capital_loss' : '0','hr_per_week' : '45','country' : 'United-States',
             'income' : '?'}
df_test = df_test.append(first_row_test,ignore_index = True)

In [104]:
# remove instances with the missing value marker, '?'
# df_input.drop(index=df_input[df_input['age'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['type_employer'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['fnlwgt'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['education'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['education_num'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['marital'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['occupation'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['relationship'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['race'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['sex'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['capital_gain'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['capital_loss'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['hr_per_week'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['country'] == '?'].index, inplace=True)
# df_input.drop(index=df_input[df_input['income'] == '?'].index, inplace=True)

df_input

,age,type_employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,30,Private,161690,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
1,60,Private,145493,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,42,Private,144995,Preschool,1,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,25,United-States,<=50K
3,23,Private,50341,Masters,14,Never-married,Sales,Not-in-family,White,Female,0,0,20,United-States,<=50K
4,50,Self-emp-not-inc,68898,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,7688,0,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,35,Private,143589,Bachelors,13,Married-spouse-absent,Prof-specialty,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
3996,36,Private,204590,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,0,213,40,United-States,<=50K
3997,21,Private,143604,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
3998,50,Private,99925,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,32,United-States,<=50K
3999,24,Private,176189,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K