In [78]:
import pandas as pd
import numpy as np

#READ data frame 
df_input = pd.read_csv("adult.input")
df_test = pd.read_csv("adult.test")

#add the column names
df_input.columns = ['age','type_employer','fnlwgt','education','education_num','marital','occupation',
             'relationship','race','sex','capital_gain','capital_loss','hr_per_week','country',
             'income']
df_test.columns = ['age','type_employer','fnlwgt','education','education_num','marital','occupation',
             'relationship','race','sex','capital_gain','capital_loss','hr_per_week','country',
             'income']

#add missing first row, due to column name change
first_row_input = {'age' : '24','type_employer' : 'Private','fnlwgt' : '176189','education' : 'HS-grad',
       'education_num' : '9','marital' : 'Married-civ-spouse','occupation' : 'Machine-op-inspct',
             'relationship' : 'Husband','race' : 'White','sex' : 'Male','capital_gain' : '0',
       'capital_loss' : '0','hr_per_week' : '40','country' : 'United-States',
             'income' : '<=50K'}

df_input = df_input.append(first_row_input,ignore_index = True)

In [79]:
first_row_test = {'age' : '43','type_employer' : 'Self-emp-not-inc','fnlwgt' : '292175','education' : 'Masters',
       'education_num' : '14','marital' : 'Divorced','occupation' : 'Exec-managerial',
             'relationship' : 'Unmarried','race' : 'White','sex' : 'Female','capital_gain' : '0',
       'capital_loss' : '0','hr_per_week' : '45','country' : 'United-States',
             'income' : '?'}
df_test = df_test.append(first_row_test,ignore_index = True)

In [80]:

#remove instances with the missing values "?" marker
df_input = df_input.loc[df_input["age"] != "?"]
df_input = df_input.loc[df_input["type_employer"] != "?"]
df_input = df_input.loc[df_input["fnlwgt"] != "?"]
df_input = df_input.loc[df_input["education"] != "?"]
df_input = df_input.loc[df_input["education_num"] != "?"]
df_input = df_input.loc[df_input["marital"] != "?"]
df_input = df_input.loc[df_input["occupation"] != "?"]
df_input = df_input.loc[df_input["relationship"] != "?"]
df_input = df_input.loc[df_input["race"] != "?"]
df_input = df_input.loc[df_input["sex"] != "?"]
df_input = df_input.loc[df_input["capital_gain"] != "?"]
df_input = df_input.loc[df_input["capital_loss"] != "?"]
df_input = df_input.loc[df_input["hr_per_week"] != "?"]
df_input = df_input.loc[df_input["country"] != "?"]
df_input = df_input.loc[df_input["income"] != "?"]

#df_input.shape

In [81]:
#remove attributes fnlwgt,education,relationship
df_input.drop(columns=["fnlwgt","education","relationship"],inplace=True)

#df_input.shape

In [82]:
#binarization of capital gain, capital loss, and native country attributes
df_input.capital_gain[df_input.capital_gain.astype(int) > 0] = 1
df_input.capital_gain[df_input.capital_gain.astype(int) == 0] = 0

df_input.capital_loss[df_input.capital_loss.astype(int) > 0] = 1
df_input.capital_loss[df_input.capital_loss.astype(int) == 0] = 0

In [83]:
df_input["country"] = np.where(df_input["country"] == "United-States", 1, 0)

#df_input

,age,type_employer,education_num,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,30,Private,11,Never-married,Prof-specialty,White,Female,0,0,40,1,<=50K
1,60,Private,10,Divorced,Adm-clerical,White,Female,0,0,40,1,<=50K
2,42,Private,1,Never-married,Handlers-cleaners,White,Male,0,0,25,1,<=50K
3,23,Private,14,Never-married,Sales,White,Female,0,0,20,1,<=50K
4,50,Self-emp-not-inc,14,Married-civ-spouse,Sales,White,Male,1,0,55,1,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,35,Private,13,Married-spouse-absent,Prof-specialty,Asian-Pac-Islander,Female,0,0,40,0,<=50K
3996,36,Private,13,Divorced,Prof-specialty,Black,Female,0,1,40,1,<=50K
3997,21,Private,9,Never-married,Adm-clerical,White,Female,0,0,40,1,<=50K
3998,50,Private,9,Married-civ-spouse,Adm-clerical,White,Male,0,0,32,1,<=50K
3999,24,Private,9,Married-civ-spouse,Machine-op-inspct,White,Male,0,0,40,1,<=50K